# python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
build/
dist/

# environments
.venv/
.env

# tooling caches
.pytest_cache/
.ruff_cache/
.mypy_cache/

# project artifacts
data/*
!data/.gitkeep
models/*
!models/.gitkeep
mlruns/

# os
.DS_Store
